@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #424551;
  line-height: 1;
  font-family: "";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 78.75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

/*================================================*/

.page__main {
  background: -o-linear-gradient(34.05deg, rgba(255, 63, 56, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
  background: linear-gradient(55.95deg, rgba(255, 63, 56, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
}

.main-block {
  position: relative;
  padding: 90px 0px 80px 0px;
  margin-bottom: 180px;
}

.main-block__container {
  position: relative;
  z-index: 2S;
}

.main-block__body {
  margin-bottom: 190px;
}

.body-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body-main__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.body-main__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-right: 40px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.body-main__play {
  font-weight: 700;
  font-size: 14px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  position: relative;
}

.body-main__play::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #FF3F3A;
  opacity: 0.12;
  -webkit-transform: scale(1.6);
      -ms-transform: scale(1.6);
          transform: scale(1.6);
  -webkit-animation: play-circle 1s infinite ease;
          animation: play-circle 1s infinite ease;
}

.body-main__play::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 52px;
          flex: 0 0 52px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #FF3F3A url("../img/icon/Play.svg") center no-repeat;
}

.body-main__play:hover::after {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.body-main__play:not(:last-child) {
  margin-bottom: 40px;
}

@-webkit-keyframes play-circle {
  0% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3);
  }
}

@keyframes play-circle {
  0% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3);
  }
}

.body-main__title {
  font-weight: 900;
  font-size: 64px;
  letter-spacing: 1px;
  line-height: 130%;
  color: #1E212C;
}

.body-main__title:not(:last-child) {
  margin-bottom: 60px;
}

.body-main__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-main__actions:not(:last-child) {
  margin-bottom: 40px;
}

.body-main__media {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.body-main__image {
  max-width: 107.8%;
  -webkit-transform: translate(7.8%, 0px);
      -ms-transform: translate(7.8%, 0px);
          transform: translate(7.8%, 0px);
}

.button--border {
  white-space: nowrap;
}

.button {
  white-space: nowrap;
}

.advantages-main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages-main__cicrle {
  background: #FF3F3A;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8px;
          flex: 0 0 8px;
  content: "";
  height: 8px;
  border-radius: 50%;
}

.advantages-main__cicrle:last-child {
  display: none;
}

.item-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.item-advantages__value {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
  white-space: wrap;
}

.item-advantages__text {
  line-height: 1.5;
  white-space: wrap;
}

.decor-main__item {
  position: absolute;
}

.decor-main__item--1 {
  background: url("../img/icon/decore_1-1.svg") 0 0 no-repeat;
  width: 96px;
  height: 96px;
  top: 0;
  left: 0;
  z-index: 0;
}

.decor-main__item--2 {
  background: url("../img/icon/decore_1-2.svg") 0 0 no-repeat;
  width: 284px;
  height: 284px;
  bottom: -9.2%;
  left: -5.5%;
  z-index: 0;
}

.decor-main__item--3 {
  background: url("../img/icon/decore_1-3.svg") 0 0 no-repeat;
  width: 88px;
  height: 47px;
  top: 45%;
  left: 40.7%;
  z-index: 0;
}

.decor-main__item--4 {
  background: url("../img/icon/decore_1-4.svg") 0 0 no-repeat;
  width: 61px;
  height: 61px;
  top: 70.1%;
  left: 38.17%;
  z-index: 0;
}

.decor-main__item--5 {
  background: url("../img/icon/decore_1-5.svg") 0 0 no-repeat;
  width: 187px;
  height: 137px;
  bottom: 17.96%;
  right: -1.56%;
  z-index: 0;
}

.decor-main__item--6 {
  background: url("../img/icon/decore_1-1.svg") 0 0 no-repeat;
  width: 110px;
  height: 110px;
  top: -8.5%;
  right: 7%;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  z-index: 0;
}

/*==============About US====================*/

.page__about-us {
  margin-bottom: 180px;
  position: relative;
}

.about-us__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  gap: 68px;
}

.about-us__media img {
  max-width: 100%;
}

.about-us__content {
  padding-left: 20px;
}

.content-text__title-info {
  padding-bottom: 40px;
}

.content-text__list {
  padding-bottom: 12px;
}

.content-text__listul li:not(:last-child) {
  margin-bottom: 0;
}

.title-info__lable {
  font-weight: 700;
  letter-spacing: 1px;
  color: #1E212C;
  margin-bottom: 8px;
  line-height: 150%;
  text-transform: uppercase;
}

.title-info__title {
  font-weight: 900;
  font-size: 46px;
  color: #1E212C;
  line-height: 130%;
}

.list--text {
  padding-bottom: 22px;
}

.list--text__item {
  color: #424551;
  padding: 0px 0px 12px 32px;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  background: url("../img/icon/check.svg") 0 4px no-repeat;
}

.list--text__item:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.decore-us__item {
  position: absolute;
}

.decor-us__item--1 {
  background: url("../img/icon/decor_2-1.svg") 0 0 no-repeat;
  width: 181px;
  height: 181px;
  top: 22.2%;
  left: 0%;
  z-index: -1;
}

.decor-us__item--2 {
  background: url("../img/icon/decor_2-2.svg") 0 0 no-repeat;
  width: 287px;
  height: 287px;
  top: 40.4%;
  left: 93.64%;
  z-index: -1;
}

/*==============Feautured cource==============*/

.featured__body {
  margin-bottom: 180px;
}

.featured__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

.featured__lable {
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1E212C;
}

.featured__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 1.3;
  color: #1E212C;
}

.featured__button {
  margin-top: 40px;
  white-space: nowrap;
}

.info-people {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[3];
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.info-people__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  background: #FFFFFF;
  border: 1px solid #E5E8ED;
  -webkit-box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
          box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.info-people__block:hover {
  -webkit-transform: translate(0px, -8px);
      -ms-transform: translate(0px, -8px);
          transform: translate(0px, -8px);
  -webkit-box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
          box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}

.info-content__lable-info {
  margin: 32px 0 20px 0;
}

.info-content__label-marketing {
  background: #03CEA4;
  font-size: 14px;
  border-radius: 4px;
  line-height: 1.4;
  color: #FFFFFF;
  display: inline;
  padding: 1px 8px;
  gap: 10px;
}

.info-content__label-manager {
  background: #5A87FC;
  font-size: 14px;
  border-radius: 4px;
  line-height: 1.4;
  color: #FFFFFF;
  display: inline;
  padding: 1px 8px;
  gap: 10px;
}

.info-content__label-hr {
  background: #F89828;
  font-size: 14px;
  border-radius: 4px;
  line-height: 1.4;
  color: #FFFFFF;
  display: inline;
  padding: 1px 8px;
  gap: 10px;
}

.info-content__label-design {
  background: #F52F6E;
  font-size: 14px;
  border-radius: 4px;
  line-height: 1.4;
  color: #FFFFFF;
  display: inline;
  padding: 1px 8px;
  gap: 10px;
}

.info-content__title {
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #1E212C;
  margin-bottom: 20px;
}

.info-content__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.info-content__price {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: #FF4242;
}

.info-content__name {
  color: #787A80;
  font-size: 18px;
  line-height: 1.5;
}

.info-content__name::before {
  content: "";
  right: 0;
  top: 0;
  width: 16px;
  height: 0px;
  border: 1px solid #787A80;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-right: 8px;
}

/*=================Benefits=======================================*/

.benefits__list-row {
  margin-bottom: 60px;
}

.text-benefits {
  margin-bottom: 60px;
}

.text-benefits__label {
  line-height: 1.5;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.text-benefits__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 1.3;
  text-align: center;
  color: #1E212C;
}

.tabs__card--tutors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 135px;
}

.tabs__text-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 495px;
          flex: 0 1 495px;
}

.tabs__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 130%;
  color: #1E212C;
  padding-bottom: 24px;
}

.tabs__title p {
  line-height: 1.6;
  color: #fff;
}

.tabs__title p {
  line-height: 1.6;
  color: #fff;
}

.tabs__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 600px;
          flex: 0 1 600px;
}

.navigation-tabs__title {
  padding: 10px 73px;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  /* gray/600 */
  color: #9A9CA5;
}

/*=================TIME AND DATE==========================*/

.workshops {
  background: -o-linear-gradient(34.05deg, rgba(255, 64, 58, 0.206) 0%, rgba(247, 94, 5, 0.201) 100%);
  background: linear-gradient(55.95deg, rgba(255, 64, 58, 0.206) 0%, rgba(247, 94, 5, 0.201) 100%);
}

.workshops__block-title {
  padding-top: 80px;
  margin-bottom: 60px;
}

.workshops__item {
  margin-bottom: 24px;
}

.workshops__buttons {
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.workshops__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
  color: #1E212C;
}

.title-block__lable {
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1E212C;
  text-align: center;
  margin-bottom: 8px;
}

.title-block__title {
  text-align: center;
  font-weight: 900;
  font-size: 46px;
  line-height: 1.3;
  color: #1E212C;
}

.item-workshops {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
  padding: 32px 40px;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-workshops:hover {
  -webkit-box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
          box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}

.item-workshops:nth-child(4) {
  margin-bottom: 0px;
}

.item-workshops__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.item-workshops__day {
  font-weight: 900;
  font-size: 48px;
  line-height: 130%;
  color: #FF3F3A;
  letter-spacing: 1px;
}

.item-workshops__row {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #1E212C;
}

.item-workshops__mount {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #1E212C;
}

.item-workshops__time {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #787A80;
}

.item-workshops__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #1E212C;
}

.item-workshops__subtitle {
  line-height: 1.6;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #787A80;
}

.workshops {
  position: relative;
}

/*
.decor-workshops-1 {
	background: url('../img/icon/decore_1-2.svg') 0 0 no-repeat;
	width: 284px;
	height: 284px;
	bottom: -9.2%;
	left: -5.5%;
	z-index: 0;
}

.decor-workshops-2 {
	background: url('../img/icon/decore_1-5.svg') 0 0 no-repeat;
	width: 284px;
	height: 284px;
	bottom: -9.2%;
	left: -5.5%;
	z-index: 0;
}
*/

/*======SERTIFICATE=================================*/

.certificate__body {
  padding-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  position: relative;
  z-index: 2;
}

.certificate__body__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 392px;
          flex: 0 1 392px;
  padding-bottom: 130px;
}

.certificate__body__media {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 57.22%;
          flex: 0 1 57.22%;
  max-width: 705px;
  border: 1px solid #E5E8ED;
  -webkit-box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
          box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}

.certificate__body__picture {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 57.22%;
          flex: 0 1 57.22%;
}

.certificate__body__picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.certificate__media {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  border-radius: 4px;
  max-width: 705px;
}

.content-certificate__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1E212C;
  margin-bottom: 8px;
}

.content-certificate__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
  margin-bottom: 48px;
}

.content-certificate__text {
  line-height: 1.6;
  color: #424551;
  margin-bottom: 32px;
  font-size: 16px;
}

.content-certificate__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

/*=================TEAM========================*/

.header-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

.header-team__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1E212C;
  margin-bottom: 8px;
}

.header-team__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 1.3;
  text-align: center;
  color: #1E212C;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 27px;
}

.navigation__left-arrow {
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.navigation__left-arrow:hover::after {
  position: absolute;
  content: "";
  top: -18px;
  left: -15px;
  width: 48px;
  height: 48px;
  background: #FF3F3A;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.navigation__rigth-arrow {
  position: relative;
  cursor: pointer;
}

.navigation__rigth-arrow:hover::after {
  position: absolute;
  content: "";
  top: -18px;
  left: -10px;
  width: 48px;
  height: 48px;
  background: #FF3F3A;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.card-content__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.card-content__row {
  background: #FFCF2D;
  border-radius: 4px;
  margin-bottom: 16px;
}

.card-content__image {
  padding: 20px 20px 0 20px;
}

.card-content__image:hover::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  -webkit-transform: translatey(100%);
      -ms-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(43.9%, rgba(30, 33, 44, 0)), color-stop(55.21%, rgba(30, 33, 44, 0.03)), color-stop(68.73%, rgba(30, 33, 44, 0.33)), color-stop(76.17%, rgba(30, 33, 44, 0.56)), color-stop(83.75%, rgba(30, 33, 44, 0.768225)), color-stop(91.49%, rgba(30, 33, 44, 0.92)), to(#1E212C));
  background: -o-linear-gradient(top, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
  background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
}

.card-content__info {
  text-align: center;
}

.card-content__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #424551;
  margin-bottom: 4px;
}

.card-content__job-title {
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #787A80;
}

.card-content .slider-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 19px;
  right: 20px;
  z-index: 3;
  opacity: 0;
  -webkit-transform: translateX(-20%);
      -ms-transform: translateX(-20%);
          transform: translateX(-20%);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

html,
body {
  height: 100%;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*=__container] {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0px 15px;
}

body {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  color: #424551;
}

.button {
  color: #fff;
  background: -o-linear-gradient(34.05deg, #FF3F3A 0%, #F75E05 100%);
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
  letter-spacing: 0.5px;
  font-weight: 700;
  line-height: 1.25;
  display: inline-block;
  position: relative;
  padding: 16px 40px;
}

.buttonspan {
  position: relative;
  z-index: 2;
}

.button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  opacity: 0;
  border-radius: 4px;
  background: -o-linear-gradient(34.05deg, #b72e2a 0%, #b04304 100%);
  background: linear-gradient(55.95deg, #b72e2a 0%, #b04304 100%);
}

.button::after:hover::before {
  opacity: 1;
}

.button--border {
  color: #FF3F3A;
  border: 1px solid #FF3F3A;
  padding: 12px 40px;
  background: transparent;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
}

.button--border:hover {
  color: #FFF;
  border: 1px solid #FF3F3A;
  background-color: #FF3F3A;
}

.icon-menu {
  display: none;
}

.header {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 220, 212, 0.3)), to(rgba(253, 222, 206, 0.3)));
  background: -o-linear-gradient(rgba(255, 220, 212, 0.3) 0%, rgba(253, 222, 206, 0.3) 100%);
  background: linear-gradient(rgba(255, 220, 212, 0.3) 0%, rgba(253, 222, 206, 0.3) 100%);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.header__container {
  padding: 26px 0;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.menu-icon {
  display: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  padding-top: 17px;
}

.menu__link {
  font-weight: 700;
  color: #424551;
}

.menu__link:hover {
  text-decoration: underline;
}

.actions-header {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 36px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.actions-header-header__auth {
  background: url("../img/icon/User.svg") left no-repeat;
  padding: 0px 0px 0px 24px;
  font-weight: 700;
  line-height: 1.25;
}

.actions-header-header__auth:hover span {
  text-decoration: underline;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

html,
body {
  height: 100%;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 1260px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.footer__second-row {
  background: #1E212C;
}

.footer__main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  padding: 80px 0px 65px 0px;
  gap: 80px;
}

.footer__copyrate {
  background: #1E212C;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
}

.footer__main-column {
  margin: 0 auto;
  padding: 80px 15px 60px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 75%;
          flex: 0 1 75%;
  gap: 80px;
}

.row-first__title {
  margin: 120px 0;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
}

.column-first__society {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-footer__label {
  margin-bottom: 24px;
}

.info-footer__text {
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.6;
  margin-bottom: 38px;
  font-size: 12px;
  width: 279px;
}

.society-icon {
  gap: 20px;
}

.second-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.second-column__title {
  white-space: nowrap;
  letter-spacing: 1px;
  line-height: 150%;
  color: #FFF;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.second-column__item {
  line-height: 160%;
  color: #FFFFFF;
  margin-bottom: 8px;
  opacity: 0.6;
}

.second-column__item:last-child {
  margin-bottom: 0px;
}

.list-column {
  white-space: nowrap;
}

.third-column {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.third-column__title {
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.third-column__input {
  display: inline-block;
  font-size: 12px;
  line-height: 150%;
  text-align: left;
  color: #FFFFFF;
  opacity: 0.6;
  margin-bottom: 12px;
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  width: 286px;
  height: 36px;
  padding-left: 12px;
  margin-bottom: 12px;
  white-space: nowrap;
}

.third-column__subscribe {
  font-size: 10px;
  line-height: 150%;
  color: #FFFFFF;
}

.third-column__content {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.copyrate__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.copyrate__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
}

.copyrate__made {
  font-size: 12px;
  line-height: 150%;
  color: #FFFFFF;
}

.copyrate__heart-icon {
  width: 16px;
  height: 16px;
  background: url("../img/Footer/footer-icon/heart.svg") 0 0 no-repeat;
}

.copyrate__text-second {
  font-size: 12px;
  line-height: 150%;
  color: #FFFFFF;
}

.copyrate__go-up {
  font-weight: 700;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.6;
}

@media (max-width: 1260.98px) {
  .content-certificate__icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1173px) {
  .footer__main-column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 1090.98px) {
  .actions-header {
    display: none;
  }

  .menu__item {
    font-size: 25px;
    padding-bottom: 10px;
  }

  .menu__item:last-child {
    padding-bottom: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
  }

  .actions-header {
    font-size: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .item-advantages__value,
  .item-advantages__text {
    z-index: 2;
  }

  .menu-icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 999;
  }

  .menu-icon span,
  .menu-icon::before,
  .menu-icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #000;
  }

  .menu-icon::before,
  .menu-icon::after {
    content: "";
  }

  .menu-icon::before {
    top: 0;
  }

  .menu-icon::after {
    bottom: 0;
  }

  .menu-icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }

  .menu-icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }

  .menu-icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
        -ms-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu-icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
        -ms-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }

  .menu__body {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 80px 30px 30px 30px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    background-color: #fdfdfd;
    z-index: 3;
  }

  .menu__body._active {
    top: 0;
  }

  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .button {
    font-size: 22px;
  }
}

@media (max-width: 998.98px) {
  .button--border {
    font-size: 22px;
    padding: 16px 40px;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 0.5px;
  }
}

@media (max-width: 787.98px) {
  .main-block {
    padding: 40px 0px 30px 0px;
    margin-bottom: 70px;
  }

  .body-main {
    margin-bottom: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .body-main__actions {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .body-main__play {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .body-main__content {
    padding-right: 0px;
    text-align: center;
  }

  .body-main__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .body-main__title {
    font-size: 48px;
    text-align: center;
  }

  .body-main__title:not(:last-child) {
    margin-bottom: 20px;
  }

  .body-main__media {
    padding-top: 20px;
  }
}

@media (max-width: 499.98px) {
  .info-people__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .info-people__media {
    padding-top: 15px;
  }

  .info-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .info-content__lable-info {
    margin: 0px 0 20px 0;
  }

  .info-content__title {
    margin-bottom: 0;
  }

  .info-content__info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 10px;
  }
}

@media (max-width: 78.75em) {
  .certificate__body {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .certificate__icons {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media (max-width: 61.99875em) {
  .item-advantages {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .item-advantages__text {
    white-space: wrap;
  }

  .decor-main__item--1,
  .decor-main__item--4,
  .decor-main__item--5,
  .decor-main__item--6 {
    display: none;
  }

  .about-us__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .info-people {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[6];
    grid-template-rows: repeat(6, 1fr);
  }

  .item-workshops {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }

  .certificate__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .certificate__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    padding-bottom: 130px;
  }

  .certificate__media {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .content-certificate__text {
    font-size: 24px;
  }

  .content-certificate {
    text-align: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .content-certificate__icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 47.99875em) {
  .body-main__title {
    font-size: 36px;
  }

  .advantages-main__cicrle {
    display: none;
  }

  .item-advantages {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .featured__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 60px;
  }

  .featured__lable {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .workshops__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .content-certificate__title {
    white-space: wrap;
  }

  .content-certificate__icons {
    -webkit-box-pack: column;
        -ms-flex-pack: column;
            justify-content: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}